body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #234;
  font-size: calc(16px);
  line-height: 1;
}

:root {
  --lrc-color: #eee;
  --lrc-active-color: #fff;
}

.container {
  height: 100vh;
  display: grid;
  grid-template:"nav head" 50px "nav  main" 1fr "foot  foot" 5rem / 80px 1fr;
  overflow: hidden;
} 

.column {
  padding-bottom: 30vh;
    padding-top: 7vh;
  background-color: #16baaa56;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: nav;
}

/*.body {
  background-color: #fafafa;
  display: grid;
  height: 100vh;
  grid-template-rows: 50px 1fr 60px;
  /*view-transition-name: container;
  
}*/

.content {
  /*background-color: lightblue;*/
  grid-area: main;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.7rem;
  line-height: 1.7;
}

.header {
  grid-area: head;
  box-shadow: 0px 2px 2px #c2c2c2;
}

.content::-webkit-scrollbar {
  width: 6px;
  background-color: #16baaa30;
}

.content::-webkit-scrollbar-thumb {
  background-color: #16baaa90;
  border-radius: 100px;
}

.footer {
  grid-area: foot;
  /*backdrop-filter: blur(10em);  */
  z-index: 101;
}
.footer:has(+.fullscreen){
  color: var(--lrc-active-color);
}

th {
  text-align: left;
}

td {
  max-width: 16rem;
  padding-right: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: grab;
}

td:not(.num) {
  min-width: 16rem;
}

tr:hover {}

.search {
  padding-block: 8px;
  padding-right: 7rem;
  margin: 6px;
  border: 2px solid #16baaa;
  border-radius: 5px;
}

.search:focus {
  outline: none;
}

.search::placeholder {}

.icon {
  flex: auto;
}

.icon>img {
  height: 2.5rem;
}

.fullscreen {
  position: absolute;
  left:0px;
  z-index: 100;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  overflow: hidden;
}


.hide {
  display: none;
}

#lrcs {
  height: calc(100% - 5rem);
  scrollbar-width: none;

}

.lrc {
  color: var(--lrc-color);
  text-align: center;
  min-height: 10px;
  padding: 5px 20px;
  font-size: 1rem;
  text-wrap: pretty;
  line-height: 1.6;
}

.active {
  color: var(--lrc-active-color);
  font-size: calc(1.5rem + 0.1vw);
  line-height: 1.2;
}
/* .player-main>*{
  flex:1;
} */
/*TODO:transition
@view-transition {
  navigation: auto;
}*/
/* 创建自定义动画 */
/*
@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* 给新旧快照应用动画效果 */
/*
::view-transition-old(container) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(container) {
  animation: 0.4s ease-in both move-in;
}*/